@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900|Muli:400,700,800,900&display=swap');


.row {
  display: flex;
}

.row > div[class*='col-'] {
 display: flex;
}

.card {  
  width: 100%;
  display: flex;
  flex-direction: row;  
}

.card > div {
  margin-top: 2vh;
}

.card-title {

  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  letter-spacing: 0.03em;
  max-width: 80%;
  font-weight: 700;
  margin-left: 5%;
  margin-top: 10%;
}

.card-body > button {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: rgb(186,220,88);
  border: none;
  border-radius: 0.3em;
  padding: 0.65em 1.1em;
  cursor: pointer;
  margin-left: 5%;
}

mark {
  padding: 0;
  background-color: #ffd703;
}


.illustration {  
    
  display: flex;
  justify-content: flex-end;  
}

.startStrings {
  font-family: 'Muli', sans-serif;
  font-size: 1.88em;
  font-weight: 700;
  color: rgb(186,220,88);
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  text-align: left; 
}

.startStrings > a + div {
  font-size: 1.66em;
  color: #000;
  margin-top: 70%;  
}

.btnSearch {
    background-color: rgb(186,220,88);
    display: flex;    
    border: none;
    border-radius: 0.2em;
    height: 90%;
    color: white;
    padding: 0.83em 0.75em;
    font-size: 0.53em;
    cursor: pointer;      
  }

  .input {
    display: flex;
  }

.links {
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  position: absolute;
  margin-top: 2%;
  margin-left: 50%;
}

.links > a {
  color: #fff;  
  text-decoration: none; 
}

.links > button {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  color: rgb(186,220,88);
  background-color: #fff;
  border: none;
  border-radius: 0.2em;
  padding: 0.64em 1.13em;
  cursor: pointer;
  margin-left: 2em;
}

.links > a {
  margin-left: 3.3em;  
}

.links > a + a {
  margin-left: 2em;  
}

.bloc2 {
  margin-top: 2%;
  background-color: rgb(250,250,252);    
  height: 45em;  
}

.bestRecipes {
  font-family: 'Muli', sans-serif;  
  display: flex;
  flex-direction: column;
  text-align: center;        
}

.bestRecipes + div {
  margin-top: 3vh;
}

.bestRecipes > a:first-child {
  margin-top: 3%;
  font-size: 2.2em;
  font-weight: 700;
}

.bestRecipes > a + a {
  color:gray;
}

.services {  
  display: flex;  
}

.services > div {
  font-family: 'Muli', sans-serif;
  margin-top: 10%; 
  display: flex;
  flex-direction: column;
}

.services > div > a:nth-child(-n+2) {
  font-size: 2.2em;
  font-weight: 700;  
}

.services > div > a:nth-child(2) {
  margin-bottom: 6%;
  margin-top: -2vh;
}

.services > div > a:nth-child(2n+5) {
  margin-bottom: 7%;    
}

.services > div > a:nth-child(n+3):nth-child(-n+9) {
  color: gray;    
}

.services > div > button {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: rgb(186,220,88);
  border: none;
  width: 12vw;
  border-radius: 0.3em;
  padding: 0.65em 1.1em;
  cursor: pointer;
  margin-top: 5%;
}

.bloc4 {
  background-color: rgb(250,250,252);    
  height: 43em;  
  margin-top: 0;
}

.bloc4 > * {
  margin-left: 10vw;
  mask-image: linear-gradient(270deg, transparent, white 12%);  
}

.report {  
  width: 95%;
  display: flex;
  flex-direction: column;  
  height: 63vh;
  margin-left: 8.1vw;
  margin-top: 2vh;    
}
  
.report > img {
  height: 55%;
}

.report > div > div > div {
  height: 6.5vh;
  width: 3.3vw;
  background-repeat: no-repeat;
  background-size: 7vh,cover;
  border-radius: 50%;   
}

.report > div > div {
  display: inline-flex;  
  margin-top: 1vh;
}

.report > div > * {
  margin-top: 4.5vh;
  margin-left: 2vw;
  max-width: 80%;
}

.report > div > div > a {
  margin-left: 0.5vw;
  margin-top: 1.5vh;
  color: gray; 
}

.arrowButton {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  left:83vw; 
  bottom:35vh; 
  background-color: white  
}

.arrowButton > i {
  font-size:24px; 
  color: #93deee;
  margin-top:2vh;
  margin-left:1vw;
}

.ourBlog {
  margin-right: 10vw;
  font-family: 'Muli', sans-serif;  
  display: flex;
  flex-direction: column;
  text-align: center;    
  margin-bottom: 1.3em;
}

.ourBlog > a:first-child {
  margin-top: 3%;
  font-size: 2.2em;
  font-weight: 700;
}

.ourBlog > a + a {
  color:gray;
}

.joinMember > div {
  margin-top: 3%;
  font-size: 2.2em;
  font-weight: 700;
  margin-right: 10vw;
  margin-top: 40vh;
}

.joinMember > div + div > button {
  background-color: rgb(186,220,88);
  display: flex;    
  border: none;
  border-radius: 0.2em;
  height: 95%;
  margin-left: 105%;
  margin-top: -6vh;
  color: white;
  padding: 0.28em 1.8em;
  font-size: 0.53em;
  cursor: pointer;  
}

.joinMember > div + div {
  width: 25vw;
}

.joinMember > div > div:nth-child(2) {
  margin-top: -1.5vh;
}

.member{  
  margin-bottom: 7vh;
}

.member + div > * { 
  color: gray;
  margin-left: 5vw;  
}

.member + div {
  margin-bottom: 7vh;
}

.member + div > a:nth-child(2) {
  margin-left: 35vw;
}

.member + div > a:nth-child(3) {
  margin-left: 3vw;
}